 /* src/styles.scss */
   @use '@angular/material' as mat;
   @include mat.core();
   
   html, body { 
     height: 100%; 
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
   }
   
   * {
     box-sizing: border-box;
   }

   /* src/styles.scss */
.mat-mdc-form-field {
  z-index: 0 !important; /* Fixes stacking context issues */
}
